.parallax {
    padding-top: 70px;
    padding-bottom: 50px;
    color: white;
    background: rgb(91,134,229);
    background: linear-gradient(135deg, rgba(91,134,229,1) 0%, rgba(103,104,143,1) 100%);    /* opacity: 60%; */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Parallax Paragraph */
.parallaxGraph {
    font-weight: 300;
    color: white;
    /* opacity: 100%; */
    line-height: 2;
}

#paraTitle {
    text-align: left;
    opacity: 100%;
}

#paraButton {
    margin: auto 0;
}

.photoBox {
    background: url('../../image/wp-flip.webp');
    border-radius: 4vw 4vw 18vw 3vw;
    padding: 4% 8% 4% 8%;
    width: 400px;
    height: 400px;
    margin-top: -150px;
    /* Create the parallax scrolling effect */
    /* background-position: center center; */
    background-repeat: no-repeat;
    background-size: cover;
}