.navbar {
    background: transparent!important;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    position: sticky;
    top: 0;
    z-index: 999;
    grid-gap: 0!important;
  }

  /* onscroll styles  */
  /* onscroll color change */
.navbar.active {
  background-color: #000000;
}
/* 
.navbar-expand-lg {
  padding-left: 80px!important;
} */

/* Navbar Scroll */
.navbar.scrolled {
  background-color: black !important;
}

/* Change color of nav accordian */
.navbar .navbar-toggler:active {
  background: #3da8e6;
  ;
}

.navbar-logo {
  margin-left: 30px!important;
}
  
  .navbar-name {
    margin-left: 10px!important;
    color: white!important;
    justify-self: start!important;
    padding: 5px 10px 5px 15px!important;
    letter-spacing: 5px!important;
    cursor: pointer!important;
    text-decoration: none!important;
    display: flex!important;
    align-items: center!important;
    border: solid white!important;
    border-radius: 100px!important;
    font-family: 'Catamaran', sans-serif;
    font-size: 12px;
  }

  /* .navbar-name:hover {
    top: -3px!important;
} */

.nav-menu {
  padding-right: 80px!important;
}

.nav-link {
  color: white!important;
}

.nav-link:hover {
  border: solid white!important;
  border-radius: 15px;
}

.navSpace {
  padding-left: 35px!important;
  padding-right: 35px!important;}
  
