.navbar {
    background: transparent!important;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    grid-gap: 0!important;
  }

  
  .navbar-logo {
    color: white!important;
    justify-self: start!important;
    padding: 5px 10px 5px 15px!important;
    letter-spacing: 5px!important;
    cursor: pointer!important;
    text-decoration: none!important;
    display: flex!important;
    align-items: center!important;
    border: solid white!important;
    border-radius: 100px!important;
    font-family: 'Catamaran', sans-serif;
    font-size: 15px;
  }

  .navbar-logo:hover {
    top: -3px;
}

.nav-link {
  color: white!important;
}
  
