.icons {
    padding: 4px 10px 4px 10px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 1px -2px 1px   rgba(59, 82, 82, 0.6);
    border-radius:25px;   font-size: 20px;
    line-height: 30.15385px;
    background-color: #24b1bb;
}

.icons:hover {
    box-shadow: 2px -2px 5px rgba(59, 82, 82, 0.6);
}

.iconList {
    display: flex;
    text-align: right;
    /* padding-left: 250px; */
}

.iconLists {
    padding: 4px 4px 4px 4px;
} 

@media (max-width: 500px) {
    .iconLists {
        text-align: center!important;
    }
}

@media (min-width: 500px) {
    .icon {
        text-align: right!important;
    }
}