

.btn {
    padding: 8px 20px!important;
    border-radius: 25px!important;
    outline: none!important;
    border: none!important;
    cursor: pointer!important;
}

.btn--primary {
    background-color: #ffffff!important;
    color: rgb(58, 58, 185)!important;
    border: 1px solid #ffffff!important
}

.btn--primary:hover {
    background: transparent!important;
    color: rgb(58, 58, 185)!important;
}

.btn--outline {
    background-color: transparent!important;
    color: #fff!important;
    padding: 8px 20px!important;
    border: 1px solid white!important;
    transition: all 0.3s ease-out!important;
}

.btn--medium {
    padding: 8px 20px!important;
    font-size: 20px!important
}

.btn--large {
    padding: 12px 26px!important;
    font-size: 20px!important;
}

.btn--medium:hover, .btn--large:hover {
    background: #fff!important;
    color:rgb(58, 58, 185)!important;
    transition: all 0.3s ease-out!important;
}