.main-footer {
    background-color: #13315c;
    color: white;
}

#top-footer {
    background-color: #36d1dc;
    padding: 20px 2% 0px 5%;
    font-size: 25px;
}

#topFootText {
    padding-top: 6px;
}

.footerNavLink a{
    color: white!important;
    text-decoration: none;
    line-height: 40px;
}

.footerNavLink a:hover{
    color: #36d1dc!important;
    text-decoration: none;
}

@media (max-width: 992px) {
    #top-footer {
    text-align: center;
}
}

